.title {
  font-size: 3rem;
  text-align: center;
  color: #728dec;
}

.subTitle {
  font-size: large;
  text-align: center;
}

.errorsContainer {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.uploadCompleted {
  text-align: center;
  .readyToShare {
    background-color: #93d9ba;
    border: 1px solid #73a890;
    padding: 10px;
    width: 70%;
    margin: 20px auto;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    .label {
      font-style: italic;
      margin-right: 20px;
    }
  }
  .newUploadBtn {
    background-color: #728dec;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover {
      background-color: #5a71c7;
    }
  }
}

@media only screen and (max-width: 738px) {
  .readyToShare {
    width: 95%;
    margin: 20px auto;
  }
}
