.container {
  background-color: #edf1ff;
  border: 1px solid #d3daf7;
  width: 70%;
  margin: 20px auto;
  padding: 10px 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
  overflow-x: hidden;

  .actions {
    background-color: #ffffff;
    width: 98%;
    margin: 20px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;

    button {
      outline: none;
      border: none;
      width: 100px;
      height: 30px;
      margin: 5px;
      cursor: pointer;
      border-radius: 2px;
    }

    .clearBtn {
      background-color: transparent;
      color: red;
      &:hover {
        background-color: #f7f7f7;
      }
    }

    .uploadBtn {
      background-color: #5872d0;
      color: #fff;
      margin-left: auto;
      transition: all 0.5s;
      &:hover {
        background-color: #32499c;
      }
    }
  }

  .localImages {
    width: 100%;
  }
}

.progress {
  width: 70%;
  margin: auto;

  .progressLabel {
    padding: 5px;
  }
}

@media only screen and (max-width: 738px) {
  .container {
    width: 95%;
    margin: 20px auto;
  }
}
