.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  position: relative;
  overflow: hidden;
  height: fit-content;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.434);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-110%);
  transition: transform 0.4s;
}

.column:hover .overlay {
  transform: translateY(0%);
}

.downloadBtn {
  background-color: #5872d0;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.downloadBtn:hover {
  background-color: #2e47a1;
}

.uploadNewBtn {
  background-color: #5872d0;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
